<link rel="stylesheet" type="text/css" href="css/profile.css">
<link rel="stylesheet" type="text/css" href="css/contacts.min.css">
<div class="contact">
  <div id="contacts" class="contact-sidebar">
    <div class="contact-sidebar-body">
      <div class="custom-scrollable-area" style="position: relative; overflow: hidden; width: 100%; height: 100%;"><div class="custom-scrollbar" style="overflow: hidden; width: 100%; height: 100%;">
        <ul class="contact-list">
          <li class="contact-list-divider">
            <span class="icon icon-star-o"></span>
          </li>
          <!-- <li class="contact-list-item">
            <a class="contact-list-link" href="#0601274412" data-toggle="tab" aria-expanded="true">
              <div class="contact-list-details">
                <h5 class="contact-list-name">
                  <span class="truncate">Попытаев Владимир</span>
                </h5>
                <small class="contact-list-email">
                  <span class="truncate">Магистр-Джедай</span>
                </small>
              </div>
            </a>
          </li> -->
        </ul>
      </div><div class="custom-scrollbar-gripper" style="background: rgb(0, 0, 0); width: 6px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 5px; height: 295.289px;"></div><div class="custom-scrollbar-track" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 5px;"></div></div>
    </div>
  </div>


  <!-- <div id="0601274412" class="contact-content">
    <div class="contact-content-body">
      <div class="contact-info">
        <h2 class="contact-name">Попытаев Владимир</h2>
        <p class="contact-job-title">Трудовые договоры пользователя</p>
      </div>
      <ul class="contracts" class="sidenav"></ul>
    </div>
  </div> -->

</div>
<script type="text/javascript" src="js/users.js"></script>
